<% include head %>

    <body data-bs-spy="scroll" data-bs-target="#navScroll">

        <% include nav %>
            <main>
                <div class="py-vh-4 w-100 overflow-hidden" id="services">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                                <h1 align="center" class="display-huge fw-bold border-bottom border-dark py-5" data-aos="fade-down">
                                    Bright Language</h1>
                            </div>
                            <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 py-vh-2" data-aos="fade-left">
                                <p align="center" class="lead mb-5 text-center">
                                    Le test Bright Language délivre une certification officielle en langues, reconnue à l'échelle internationale, tant pour des opportunités professionnelles que pour intégrer une université prestigieuse ou suivre une formation certifiante.
                                    Les compétences évaluées sont alignées avec les standards du Cadre européen commun de référence pour les langues (CECRL), couvrant les niveaux A2 à C2.
                                </p>
                                <p>
                                    Nous proposons les tests suivants :
                                </p>
                                <ul>
                                    <li>Bright test anglais professionnel (RS 6663)</li>
                                    <li>Bright test FLE professionnel (RS 6481)</li>
                                    <li>Bright test disponible dans 11 langues (Anglais, FLE (français langue étrangère), Espagnol, Allemand, Italien, Portugais, Russe, Chinois Mandarin, Néerlandais, Flamand, Suédois)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

            </main>
            <% include footer %>
    </body>

    </html>