<% include head %>

  <body data-bs-spy="scroll" data-bs-target="#navScroll">

    <% include nav %>
    <main>
      
<div class="container py-vh-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-12 py-vh-4">
          <h1 class="display-huge fw-bold lh-1" data-aos="fade-down">Politique de Confidentialités</h1>
            <span class="h6 badge text-bg-light" data-aos="fade-down">Version 1.00, Dernière mise à jour : 25 Nov. 2023</span>
          <div class="mt-4 d-flex justify-content-center" data-aos="fade-down" data-aos-delay="200">
            <svg viewbox="0 0 29 107" xmlns="http://www.w3.org/2000/svg" style="width:30px;" data-aos="fade-down">
              <path d="M15.425 106.639l13.116-12.42c.55-.446.615-1.23.144-1.751a1.363 1.363 0 0 0-1.993 0l-10.887 10.296V1.242C15.805.556 15.218 0 14.493 0c-.724 0-1.311.556-1.311 1.242v101.522L2.308 92.468a1.363 1.363 0 0 0-1.85-.136 1.197 1.197 0 0 0 0 1.887l13.117 12.42a1.364 1.364 0 0 0 1.85 0z" fill="#000" fill-rule="evenodd"></path>
            </svg>

          </div>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">1.0</span>
              <h2>Collecte d'Informations</h2>
              <p class="lead">Lorsque vous utilisez le formulaire de contact sur notre site languagensuccess.com,
                nous collectons les informations que vous choisissez de nous fournir.
                Ces informations peuvent inclure votre nom, prénom, numéro de téléphone, et adresse e-mail.</p>
        </div>
      </div>

      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">2.0</span>
              <h2>Utilisation des Informations</h2>
              <p class="lead">Les informations collectées via le formulaire de contact sont utilisées dans le seul but de répondre
                à votre demande ou de vous fournir les informations demandées.
                Vos données ne seront pas utilisées à des fins commerciales non consenties.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">3.0</span>
              <h2>Consentement</h2>
              <p class="lead">En utilisant le formulaire de contact, vous consentez à la collecte et à l'utilisation des informations conformément à cette politique de confidentialité.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">4.0</span>
              <h2>Protection des Données</h2>
              <p class="lead">Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">5.0</span>
              <h2>Durée de Conservation</h2>
              <p class="lead">Nous conservons vos données personnelles aussi longtemps que nécessaire pour atteindre les objectifs pour lesquels elles ont été collectées, à moins que la loi ne requière une période de conservation plus longue.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">6.0</span>
              <h2>Droit d'Accès et de Modification</h2>
              <p class="lead">Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD),
                vous avez le droit d'accéder, de modifier, de rectifier ou de supprimer vos données personnelles.
                Pour exercer ce droit, veuillez nous contacter à l'adresse e-mail suivante : lny.cambridge@gmail.com.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">7.0</span>
              <h2>Cookies </h2>
              <p class="lead">Nous n'utilisons pas de cookies pour collecter des informations à partir du formulaire de contact.
                Cependant, veuillez noter que notre site peut utiliser des cookies à d'autres fins conformément à notre politique de cookies.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">8.0</span>
              <h2>Modification de la Politique de Confidentialité</h2>
              <p class="lead">Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment.
                Toute modification sera publiée sur cette page.
                Nous vous encourageons à consulter régulièrement cette page pour rester informé des mises à jour.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">9.0</span>
              <h2>Droit applicable</h2>
              <p class="lead">Cette politique de confidentialité est soumise au droit français.</p>
        </div>
      </div>
    </div>
  </div>
</div>

    </main>
    <% include footer %>
  </body>
</html>
