<% include head %>

  <body data-bs-spy="scroll" data-bs-target="#navScroll">

    <% include nav %>
    <main>
      
<div class="container py-vh-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-12 py-vh-4">
          <h1 class="display-huge fw-bold lh-1" data-aos="fade-down">Politique de Confidentialités</h1>
            <span class="h6 badge text-bg-light" data-aos="fade-down">Version 1.00, Dernière mise à jour : 25 Nov. 2023</span>
          <div class="mt-4 d-flex justify-content-center" data-aos="fade-down" data-aos-delay="200">
            <svg viewbox="0 0 29 107" xmlns="http://www.w3.org/2000/svg" style="width:30px;" data-aos="fade-down">
              <path d="M15.425 106.639l13.116-12.42c.55-.446.615-1.23.144-1.751a1.363 1.363 0 0 0-1.993 0l-10.887 10.296V1.242C15.805.556 15.218 0 14.493 0c-.724 0-1.311.556-1.311 1.242v101.522L2.308 92.468a1.363 1.363 0 0 0-1.85-.136 1.197 1.197 0 0 0 0 1.887l13.117 12.42a1.364 1.364 0 0 0 1.85 0z" fill="#000" fill-rule="evenodd"></path>
            </svg>

          </div>
        </div>
      </div>

      <div class="row d-flex align-items-start mt-5 pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
              <p class="lead">Bienvenue sur le site internet de LANGUAGES & SUCCESS - L&S.
                La confidentialité de vos informations est une priorité pour nous.
                Cette politique de confidentialité explique quelles informations personnelles nous collectons,
                comment elles sont utilisées, et les choix que vous pouvez faire concernant vos données.</p>
        </div>
      </div>

      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">1.0</span>
              <h2>Collecte d'informations</h2>
              <p class="lead">Nous collectons des informations personnelles lorsque vous interagissez avec notre site,
                telles que lorsque vous vous inscrivez via notre formulaire de contact en ligne.
                Les informations collectées peuvent inclure votre nom, prénom, adresse e-mail, numéro de téléphone,
                et d'autres détails nécessaires à l'inscription ou à la communication.</p>
        </div>
      </div>

      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">2.0</span>
              <h2>Utilisation des informations</h2>
              <p class="lead">Les informations personnelles que vous fournissez via notre formulaire de contact en ligne sont utilisées
                uniquement dans le seul but de répondre à votre demande ou de vous fournir les informations demandées dans le cadre des services que nous offrons.
                Nous ne partageons pas ces informations avec des tiers sans votre consentement explicite.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">3.0</span>
              <h2>Consentement</h2>
              <p class="lead">En utilisant le formulaire de contact, vous consentez à la collecte et à l'utilisation des informations conformément à cette politique de confidentialité.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">4.0</span>
              <h2>Protection des Données</h2>
              <p class="lead">Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, altération, divulgation ou destruction. Cependant, veuillez noter que même sans l'utilisation de cookies, aucune méthode de transmission ou de stockage électronique n'est totalement sécurisée, et nous ne pouvons garantir la sécurité absolue de vos informations.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">5.0</span>
              <h2>Aucune utilisation de cookies</h2>
              <p class="lead">LANGUAGES & SUCCESS - L&S n'utilise pas de cookies sur son site internet pour collecter les informations à partir du formulaire de contact en ligne. Nous respectons votre vie privée et nous n'utilisons pas de technologies de suivi pour collecter des informations sur votre comportement en ligne.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">6.0</span>
              <h2>Durée de conservation</h2>
              <p class="lead">LANGUAGES & SUCCESS - L&S ne conservera les données personnelles de l'Utilisateur que pour une durée limitée, nécessaire pour la réalisation des finalités pour lesquelles elles ont été collectées et traitées.<br>
                Les données personnelles de l'Utilisateur sont conservées pour les durées suivantes :<br>
                &#x2022; Pour les clients (les personnes réalisant des formations payantes) : l'ensemble des données relatives à l'identification de l'Utilisateur sont conservées pendant toute la durée de la relation contractuelle. Les données sont ensuite archivées pendant la durée de prescription applicable, à savoir cinq (5) ans.<br>
                &#x2022; Pour les prospects contactant LANGUAGES & SUCCESS - L&S via le formulaire de contact disponible sur le Site ou tout autre moyen de communication mis à leur disposition : les données sont conservées pendant une durée de trois (3) ans à compter du dernier contact.<br>
                Ces durées de conservations peuvent être modifiée si la loi requière une période de conservation plus longue.
                </p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">7.0</span>
              <h2>Droits d'accès et de modification</h2>
              <p class="lead">Conformément à la loi Informatique et Liberté du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD),
                vous avez le droit de demander l'accès, la modification, la correction ou la suppression de vos informations personnelles.
                Pour exercer ces droits, veuillez nous contacter à l'adresse e-mail suivante : lny.cambridge@gmail.com.
              </p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">8.0</span>
              <h2>Modification de la Politique de Confidentialité</h2>
              <p class="lead">Nous nous réservons le droit de mettre à jour cette politique de confidentialité à tout moment.
                Les modifications prendront effet immédiatement dès leur publication sur notre site.
                Nous vous encourageons à consulter régulièrement cette page pour rester informé des mises à jour.<br>
                En utilisant notre site, vous consentez à notre politique de confidentialité.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">9.0</span>
              <h2>Loi et juridiction applicable</h2>
              <p class="lead">Le site et les présentes conditions d'utilisation sont régis
                par la loi française et tout litige à leur sujet relèvera de la compétence exclusive des tribunaux de Nice (06).</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">10.0</span>
              <h2>Contact</h2>
              <p class="lead">La confiance de nos utilisateurs est fondamentale pour nous.
                C'est pourquoi LANGUAGES & SUCCESS - L&S veille à répondre à tout moment aux questions de ses utilisateurs relatives au traitement des données personnelles.<br>
                Si vous désirez des informations complémentaires sur un point précis, veuillez adresser votre requête à l'adresse suivante : lny.cambridge@gmail.com.</p>
        </div>
      </div>
    </div>
  </div>
</div>

    </main>
    <% include footer %>
  </body>
</html>
