<footer>
    <div class="container small border-top">
      <div class="row py-5 d-flex justify-content-between">
  
  <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
    <img src="img/lns/logo_grey.png"  width="128" height="128">
    <address class="text-secondary mt-3">
      <strong style="white-space: nowrap">LANGUAGES & SUCCESS - L&S</strong><br>
      57, route de Grenoble<br>
      BP1052<br>
      06201 NICE CÉDEX 3<br>
      France<br>
      +33 778873201<br>
      lny.cambridge@gmail.com
    </address>
  </div>
  <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
    <h3 class="h6 mb-3">Réseaux Sociaux</h3>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link link-secondary ps-0" aria-current="page" href="https://www.linkedin.com/company/languages-n-success-lns/" target="_blank">LinkedIn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary ps-0" aria-current="page" href="https://www.facebook.com/languagesnsuccess/" target="_blank">Facebook</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-lg-6 col-xl-3 p-5">
    <h3 class="h6 mb-3">Aller vers</h3>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link link-secondary ps-0" aria-current="page" href="/contact">Nous contacter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary ps-0" href="/formations">Nos formations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary ps-0" href="/rules">Règlement intérieur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary ps-0" href="/terms">Mentions légales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary ps-0" href="/confidentiality">Politique de Confidentialité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary ps-0" href="pdf/qualiopi.pdf">Certification Qualiopi</a>
      </li>

    </ul>
  </div>
  </div>
  </div>
  
  </div>
  </footer>
  
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/aos.js"></script>
  <script>
  AOS.init({
    duration: 800, // values from 0 to 3000, with step 50ms
  });
  </script>
  
  <script>
    let scrollpos = window.scrollY
    const header = document.querySelector(".navbar")
    const header_height = header.offsetHeight
  
    const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
    const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")
  
    window.addEventListener('scroll', function() {
      scrollpos = window.scrollY;
  
      if (scrollpos >= header_height) { add_class_on_scroll() }
      else { remove_class_on_scroll() }
  
      console.log(scrollpos)
    })
  </script>