<% include head %>

  <body data-bs-spy="scroll" data-bs-target="#navScroll">

    <% include nav %>

      <main>
        <div class="bg-gray-100 w-100 overflow-hidden bg-gray-100" id="top">
          <div class="container position-relative">
          </div>
          <div class="container  pt-4 position-relative" data-aos="fade-right">
            <h1 class="display-huge fw-bold border-bottom border-dark py-5">Nos Formations</h1>
            <p class="lead">Découvrez les formations linguistiques adaptées à vos besoins.</p>
          </div>
        </div>

        </div>
        <div class="container py-vh-2" id="formations">
          <h2 class="text-center pb-4" data-aos="fade-left">Les langues que nous vous proposons :</h2>
          <div class="row text-center" style="max-width: 70%; margin: 0 auto;">
            <div class="custom-col-5 col-6 col-md-2 col-lg-2 mb-4" data-aos="fade-up" data-aos-delay="50">
              <span class="fi fi-sh"></span>
              <h5>Anglais</h5>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2 mb-4" data-aos="fade-up" data-aos-delay="100">
              <span class="fi fi-fr"></span>
              <h5>FLE</h5>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2 mb-4" data-aos="fade-up" data-aos-delay="150">
              <span class="fi fi-es"></span>
              <h5>Espagnol</h5>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2 mb-4" data-aos="fade-up" data-aos-delay="200">
              <span class="fi fi-de"></span>
              <h5>Allemand</h5>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2 mb-4" data-aos="fade-up" data-aos-delay="250">
              <span class="fi fi-it"></span>
              <h5>Italien</h5>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2" data-aos="fade-up" data-aos-delay="300">
              <span class="fi fi-pt"></span>
              <h5>Portugais</h5>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2" data-aos="fade-up" data-aos-delay="350">
              <span class="fi fi-ru"></span>
              <h5>Russe</h5>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2" data-aos="fade-up" data-aos-delay="400">
              <span class="fi fi-cn"></span>
              <h5>Chinois</h5>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2" data-aos="fade-up" data-aos-delay="450">
              <span class="fi fi-jp"></span>
              <h5>Japonais</h5>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2" data-aos="fade-up" data-aos-delay="500">
              <span class="fi fi-arab"></span>
              <h5>Arabe</h5>
            </div>
          </div>
        </div>

        <div class="bg-gray-100 w-100 py-vh-2">
          <div class="container">
            <h2 class="text-center pb-4" data-aos="fade-left">Niveaux proposés</h2>
            <p style="font-size: 18px;" class="text-center">Toutes nos formations sont disponibles pour les différents
              niveaux du Cadre Européen Commun de Référence pour les Langues (CECRL), allant du niveau A1 au niveau C2.
            </p>
            <div class="row align-items-center py-3">
              <!-- Niveau A1 -->
              <div class="col-lg-2 col-md-3 text-lg-end text-center">
                <h1 class="display-3 fw-bold text-primary">A1</h1>
              </div>
              <div class="col-lg-10 col-md-9">
                <p class="lead" align="justify">
                  Niveau Découverte : </p>
                <p>Vous comprenez des énoncés très simples destinés à répondre à des besoins
                  concrets.
                  Vous êtes capables de communiquer de manière basique si l'interlocuteur parle lentement, distinctement
                  et fait preuve de coopération.
                </p>
                </p>
              </div>
            </div>

            <div class="row align-items-center py-3">
              <!-- Niveau A2 -->
              <div class="col-lg-2 col-md-3 text-lg-end text-center">
                <h1 class="display-3 fw-bold text-primary">A2</h1>
              </div>
              <div class="col-lg-10 col-md-9">
                <p class="lead" align="justify">
                  Niveau Intermédiaire :</p>
                <p> Vous comprenez des phrases et expressions couramment utilisées dans des
                  domaines
                  en relation avec votre environnement quotidien. Vous êtes capables de communiquer dans des situations
                  simples et habituelles en échangeant des informations claires et directes sur des sujets que vous
                  connaissez et maîtrisez.
                </p>
                </p>
              </div>
            </div>

            <div class="row align-items-center py-3">
              <!-- Niveau B1 -->
              <div class="col-lg-2 col-md-3 text-lg-end text-center">
                <h1 class="display-3 fw-bold text-primary">B1</h1>
              </div>
              <div class="col-lg-10 col-md-9">
                <p class="lead" align="justify">
                  Niveau Seuil :</p>
                <p> Vous comprenez les éléments principaux d'un langage clair et standard sur des sujets
                  familiers, que ce soit au travail, à l'école, ou dans vos loisirs. Vous êtes capables d'échanger de
                  façon simple et claire sur des sujets familiers et dans vos domaines d'intérêt.
                </p>
                </p>
              </div>
            </div>

            <div class="row align-items-center py-3">
              <!-- Niveau B2 -->
              <div class="col-lg-2 col-md-3 text-lg-end text-center">
                <h1 class="display-3 fw-bold text-primary">B2</h1>
              </div>
              <div class="col-lg-10 col-md-9">
                <p class="lead" align="justify">
                  Niveau Avancé :</p>
                <p> Vous comprenez les idées essentielles d'un texte complexe, qu'il s'agisse de sujets
                  concrets ou abstraits. Vous êtes capable d'interagir aisément avec des locuteurs natifs en développant
                  vos arguments sur de nombreux sujets.
                </p>
                </p>
              </div>
            </div>

            <div class="row align-items-center py-3">
              <!-- Niveau C1 -->
              <div class="col-lg-2 col-md-3 text-lg-end text-center">
                <h1 class="display-3 fw-bold text-primary">C1</h1>
              </div>
              <div class="col-lg-10 col-md-9">
                <p class="lead" align="justify">
                  Niveau Autonome :</p>
                <p> Vous êtes capables de comprendre un large éventail de textes longs et exigeants et
                  vous en saisissez les nuances. Vous présentez des descriptions claires et détaillées sur des sujets
                  complexes et vous communiquez avec aisance et spontanéité.
                </p>
                </p>
              </div>
            </div>

            <div class="row align-items-center py-3">
              <!-- Niveau C2 -->
              <div class="col-lg-2 col-md-3 text-lg-end text-center">
                <h1 class="display-3 fw-bold text-primary">C2</h1>
              </div>
              <div class="col-lg-10 col-md-9">
                <p class="lead" align="justify">
                  Niveau Maîtrise :</p>
                <p> Vous comprenez facilement presque tout ce que vous entendez ou lisez. Vous vous
                  exprimez de manière spontanée, avec une grande fluidité et précision, même sur des sujets complexes.
                </p>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="w-100 py-vh-2">
          <div class="container">
            <h2 class="text-center pb-4" data-aos="fade-left">Types de formations</h2>
            <p class="lead text-center pb-4" data-aos="fade-right" data-aos-delay="150">
              Toutes nos formations sont conçues sur-mesure, qu'il s'agisse d'un objectif général ou professionnel.
              Nous
              vous offrons des contenus adaptés aux thématiques spécifiques liées à votre secteur d'activité et aux
              fonctions que vous exercez au sein de votre entreprise, afin de répondre pleinement à vos attentes.
            </p>

            <div class="row">
              <!-- Blended Learning -->
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <h5 class="text-center pb-3">Blended Learning</h5>
                <p class="text-center" align="justify">
                  Vous alternez les cours en Face à Face et/ou en visioconférence et/ou par téléphone avec du
                  Elearning
                  sur des thématiques professionnelles ou générales.
                  <br>Certification (en option).
                </p>
              </div>

              <!-- Coaching -->
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h5 class="text-center pb-3">Coaching</h5>
                <p class="text-center" align="justify">
                  Cours en Face à Face et/ou en visioconférence et/ou par téléphone sur des thématiques spécifiques
                  liées à un secteur d'activité et à une profession.
                  <br>Certification (en option).
                </p>
              </div>

              <!-- Préparation aux examens -->
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <h5 class="text-center pb-3">Préparation aux examens</h5>
                <p class="text-center" align="justify">
                  Alternance de cours en Face à Face et/ou en visioconférence avec l'utilisation d'un outil
                  d'Elearning
                  adapté à l'examen ou à la certification visée, afin d'optimiser les résultats le jour du test.
                  <br>Nous préparons aux examens suivants : TOEIC, TOEFL, Linguaskill, IELTS, BRIGHT (11 langues),
                  PIPPLET, Examens Cambridge (A2 Key, B1 Preliminary, B2 First, C1 Advanced, C2 Proficiency).
                  <br>Certification.
                </p>
              </div>

              <!-- Stage intensif -->
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <h5 class="text-center pb-3">Stage intensif</h5>
                <p class="text-center" align="justify">
                  Cours en Face à Face et/ou en visioconférence sur une courte période, d'une semaine à un mois, en
                  demi-journée ou en journée, visant une mise à niveau rapide et efficace pour un résultat immédiat afin
                  de répondre à un besoin urgent.
                  <br>Elearning (en option).
                  <br>Certification (en option).
                </p>
              </div>

              <!-- Modalités de formation -->
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
                <h5 class="text-center pb-3">Modalités de formation</h5>
                <p class="text-center" align="justify">
                  En présentiel* ou distanciel
                </p>
                <p style="font-size: 10px;" class="text-center" align="justify">
                  *Uniquement dans les Alpes Maritimes et à Monaco.
                </p>
              </div>
              <!-- Durée -->
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="700">
                <h5 class="text-center pb-3">Durée</h5>
                <p class="text-center" align="justify">
                  De 10H00 à 60H00 (selon les niveaux et les besoins).
                </p>
              </div>

              <!-- Rythme -->
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="800">
                <h5 class="text-center pb-3">Rythme</h5>
                <p class="text-center" align="justify">
                  Les cours se déroulent du lundi au vendredi de 07H00 à 21H00.<br>Le minimum d’heures de cours par
                  semaine
                  est de 1h00.
                </p>
              </div>

              <!-- Tarif -->
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="900">
                <h5 class="text-center pb-3">Tarif</h5>
                <p class="text-center" align="justify">
                  À partir de 500€ HT. <br>
                  Nos tarifs varient selon la durée, la formule choisie, la langue et les outils pédagogiques
                  sélectionnés.
                </p>
              </div>

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="1000">
              <h5 class="text-center pb-3">Délais d'accès</h5>
              <p class="text-center" align="justify">
                L'inscription est ouverte toute l'année.
              </p>
            </div>

            <!-- Financement -->
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="1100">
              <h5 class="text-center pb-3">Financement</h5>
              <p class="text-center" align="justify">
                CPF, Entreprises, OPCO, Pôle Emploi.
              </p>
            </div>
            <div class="text-center py-4">
              <a href="/contact" class="btn btn-primary">Une question ? Consultez-nous</a>
            </div>
          </div>
        </div>
        </div>

        <div class="bg-gray-100 w-100 py-vh-2">
          <div class="container ">
            <h2 class="text-center" class="pb-4" data-aos="fade-left">Nos Services</h2>
            <p style="font-size: 14px;" class="lead text-center pb-4" data-aos="fade-right" data-aos-delay="150">Le
              programme d'apprentissage proposé est sur mesure et totalement
              adapté à vos besoins, tant au niveau des compétences que des objectifs.</p>

            <div class="row">
              <!-- Cours individuel -->
              <div class="col-md-3" data-aos="fade-up" data-aos-delay="200">
                <i class="service-logo fa-solid fa-user-group"></i>
                <h5 class="text-center pb-3"><a href="#cours-individuel">Cours Individuel</a></h5>
                <p style="font-size: 14px;">En Face à Face* et/ou en
                  visioconférence et/ou par téléphone.</br>
                  Ils sont assurés par un formateur hautement qualifié et diplômé, disposant d'années d'expérience
                  dans
                  l'enseignement.</p>
                <p style="font-size: 10px;">
                  *uniquement dans les Alpes Maritimes et à Monaco<br>
                </p>
              </div>

              <!-- Cours de groupe -->
              <div class="col-md-3" data-aos="fade-up" data-aos-delay="400">
                <i class="service-logo fa-solid fa-users"></i>
                <h5 class="text-center pb-3"><a href="#cours-groupe">Cours de Groupe</a></h5>
                <p style="font-size: 14px;">En Face à Face** et/ou en
                  visioconférence et/ou par téléphone.</br>
                  Ils sont assurés par un formateur hautement qualifié et diplômé, disposant d'années d'expérience
                  dans
                  l'enseignement.</p>
                <p style="font-size: 10px;">
                  **intra-entreprise dans les Alpes Maritimes et à Monaco
                </p>
              </div>

              <!-- Elearning -->
              <div class="col-md-3" data-aos="fade-up" data-aos-delay="600">
                <i class="service-logo fa-solid fa-desktop"></i>
                <h5 class="text-center pb-3"><a href="#elearning">Elearning</a><span style="font-size: 12px;"
                    class="text-center"> (en option)</span>
                </h5>
                <!-- mettre le span en petit  -->
                <p style="font-size: 14px;">Accessible 24h/24 et 7j/7, durant une période de 1 à 12
                  mois selon les cas, partout où une connexion Internet est disponible. <br>
                  Il repose sur des apports théoriques et des mises en pratique permettant
                  de progresser puis d'utiliser vos acquis dans des situations professionnelles ou usuelles.
                </p>
              </div>
              <div class="col-md-3" data-aos="fade-up" data-aos-delay="800">
                <i class="service-logo fa-solid fa-graduation-cap"></i>
                <h5 class=" text-center pb-3"><a href="#certif">Certifications</a><span style="font-size: 14px;"
                    class="text-center" style="font-size: 12px;"> (en option)</span></h5>
                <p style="font-size: 14px;">Pour valider votre parcours dans le
                  cadre de votre CPF et communiquer vos résultats auprès de votre
                  entreprise ou dans le cadre de vos études,<br> nous collaborons avec des organismes délivrant des
                  certifications officiellement reconnues.</p>
                <div class="row">
                  <div class="col-md-6 text-center">
                    <a href="/toeic">
                      <img src="img/lns/toeic.png" alt="TOEIC logo" class="img-fluid certification-img pb-4">
                    </a>
                    <!-- <p style="font-size: 14px;">TOEIC - Test reconnu à l'international pour évaluer vos compétences
                      linguistiques en anglais.</p> -->
                    <!-- animation + fleche qui s'ouvre -->
                  </div>
                  <div class="col-md-6 text-center">
                    <a href="/bright">
                      <img src="img/lns/bright.png" alt="BRIGHT Language logo" style="margin-top: 10px;"
                        class="img-fluid certification-img pb-4">
                    </a>
                    <!-- <p style="font-size: 14px;">BRIGHT Language - Test certifié dans 11 langues pour valider vos
                      compétences professionnelles.</p> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center py-4">
              <a href="/contact" class="btn btn-primary">Une question ? Consultez-nous</a>
            </div>
          </div>
        </div>

        <div class=" w-100 py-vh-2">
          <div class="container">
            <h2 class="pb-5 text-center" data-aos="fade-left">Les Étapes de nos Formations</h2>
            <div class="row">
              <!-- Entretien Individualisé -->
              <div class="col-md-3" data-aos="fade-down" data-aos-delay="200">
                <i class="service-logo fa-regular fa-comments"></i>
                <h5 class="text-center pb-3"><a href="#entretien-individualise">Entretien Individualisé</a></h5>
                <p style="font-size: 14px;" align="justify">Avant le démarrage de votre formation, nous vous
                  proposons
                  un entretien personnalisé et individualisé pour définir ensemble vos attentes et
                  vos objectifs. <br>
                  Cela nous permettra de vous offrir une formation entièrement adaptée à votre niveau et à vos
                  besoins,
                  en
                  abordant des thématiques professionnelles ou générales préalablement identifiées.</p>
              </div>



              <!-- Test de Niveaux -->
              <div class="col-md-3" data-aos="fade-down" data-aos-delay="400">
                <i class="service-logo fa-solid fa-arrow-up-wide-short"></i>
                <h5 class="text-center pb-3"><a href="#test-niveaux">Test de Niveaux</a></h5>
                <p style="font-size: 14px;" align="justify">Vous passez un test de positionnement, pré-requis qui déterminera
                  votre
                  niveau sur l'échelle du Cadre européen commun de référence pour les langues (CECRL), allant du
                  niveau
                  A1
                  à C2 avant le démarrage de votre formation. <br>
                  Ceci nous permettra de vous proposer une formation entièrement adapté à votre niveau, ajustant le
                  rythme, les outils pédagogiques et le formateur que nous mettrons en place afin de vous garantir
                  l'atteinte de vos objectifs.
                </p>
              </div>

              <!-- Suivi Personnalisé -->
              <div class="col-md-3" data-aos="fade-down" data-aos-delay="600">
                <i class="service-logo fa-solid fa-clipboard-list"></i>
                <h5 class="text-center pb-3"><a href="#suivi-personnalise">Suivi Personnalisé</a></h5>
                <p style="font-size: 14px;" align="justify">Une équipe pédagogique vous est dédiée tout au long de
                  votre
                  formation afin de vous assurer un suivi
                  optimal.<br>
                  Nous sommes à votre écoute tout au long de votre formation et vous proposons un test à mi-parcours
                  pour
                  consolider vos points faibles et renforcer les axes d'amélioration à travailler, ainsi qu'un test
                  final
                  afin d'évaluer les progrès accomplis et l'acquisition des compétences ciblées au démarrage de
                  votre
                  formation.
                </p>
              </div>
              <div class="col-md-3" data-aos="fade-down" data-aos-delay="800">
                <i class="service-logo fa-regular fa-thumbs-up"></i>
                <h5 class="text-center pb-3"><a href="#suivi-personnalise">Qualité et satisfaction</a></h5>
                <p style="font-size: 14px;" align="justify">La satisfaction que nous devons à nos clients et à nos
                  apprenants est une priorité permanente pour
                  LANGUAGES & SUCCESS. <br>
                  Afin d'être en mesure de poursuivre nos actions d'améliorations, nous vous faisons parvenir un
                  questionnaire à mi-parcours afin d'évaluer votre niveau de satisfaction quant au déroulement de
                  votre
                  formation pour répondre à vos attentes et effectuer des actions correctives si besoin. <br>
                  En fin de formation, vous recevrez un formulaire destiné à mesurer votre degré de satisfaction sur
                  nos
                  produits et services
                  ainsi que sur la qualité de notre équipe pédagogique. <br>
                  Les informations recueillies seront précieuses à notre organisme pour optimiser sa qualité de
                  service.
                </p>
              </div>
            </div>
            <div class="text-center py-4">
              <a href="/contact" class="btn btn-primary">Une question ? Consultez-nous</a>
            </div>
          </div>
        </div>

        <div class="bg-gray-100 w-100 py-vh-2">
          <div class="container">
            <h2 class="pb-4 text-center" data-aos="fade-left">Nos Atouts</h2>
            <div class="row">
              <!-- Planning Flexible -->
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <h5 class="text-center"><a href="#planning-flexible">Planning Flexible</a></h5>
                <p style="font-size: 14px;" align="justify">Nous vous proposons un rythme de cours flexible et
                  ajustable, que ce soit en termes d'horaires, de
                  jours, ou de nombres d'heures de cours par semaine, ceci afin de s'adapter totalement à votre
                  emploi
                  du
                  temps. <br>
                  Un planning sera établi au début de la formation et confirmé par un mail envoyé au stagiaire pour
                  approbation.
                </p>
              </div>

              <!-- Accessibilité Handicap -->
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <h5 class="text-center"><a href="#accessibilite-handicap">Accessibilité aux Personnes en Situation
                    de
                    Handicap</a></h5>
                <p style="font-size: 14px;" align="justify">Conformément aux principes d'égalité des chances et
                  d'accessibilités pour tous, nous proposons des
                  formations accessibles aux personnes en situation de handicap. Nous reconnaissons l'importance de
                  garantir un environnement inclusif et équitable pour tous ces apprenants, indépendamment de leurs
                  capacités.</br>
                  Nous encourageons les personnes en situation de handicap à prendre contact avec notre référant
                  handicap
                  (Frédérique PETIT - Tel : +33 7.78.87.32.01) ou à nous faire parvenir un mail à l'adresse suivante
                  :
                  lny.cambridge@gmail.com pour discuter de vos besoins particuliers afin de pouvoir collaborer
                  efficacement pour vous offrir une expérience d'apprentissage satisfaisante et répondre aux normes
                  de
                  qualité, ou vous orienter, le cas échéant, vers un acteur prenant en charge votre type de
                  handicap.
                </p>
              </div>
            </div>
            <div class="text-center py-4">
              <a href="/contact" class="btn btn-primary">Une question ? Consultez-nous</a>
            </div>
          </div>
        </div>

      </main>

      <% include footer %>

  </body>

  </html>