<% include head %>

  <body data-bs-spy="scroll" data-bs-target="#navScroll">

    <% include nav %>

      <main>
        <div class="w-100 overflow-hidden bg-gray-100" id="top">
          <div class="container position-relative">
          </div>
          <div class="container  py-vh-4 position-relative" data-aos="fade-right">
            <h1 class="display-1 fw-bold mt-5">Nos Formations</h1>
            <p class="lead">Découvrez les formations linguistiques adaptées à vos besoins.</p>
          </div>
        </div>

        </div>
        <div class="container py-vh-2" id="formations">
          <h2 class="display-4 text-center">Langues Proposées</h2>
          <p class="lead text-center pb-4">Nous proposons des cours dans les langues suivantes :</p>

          <div class="row text-center">
            <div class="custom-col-5 col-6 col-md-4 col-lg-2 mb-4">
              <span class="fi fi-sh"></span>
              <h4>Anglais</h4>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2 mb-4">
              <span class="fi fi-fr"></span>
              <h4>FLE</h4>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2 mb-4">
              <span class="fi fi-es"></span>
              <h4>Espagnol</h4>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2 mb-4">
              <span class="fi fi-de"></span>
              <h4>Allemand</h4>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2 mb-4">
              <span class="fi fi-it"></span>
              <h4>Italien</h4>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2">
              <span class="fi fi-pt"></span>
              <h4>Portugais</h4>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2">
              <span class="fi fi-ru"></span>
              <h4>Russe</h4>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2">
              <span class="fi fi-cn"></span>
              <h4>Chinois</h4>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2">
              <span class="fi fi-jp"></span>
              <h4>Japonais</h4>
            </div>
            <div class="custom-col-5 col-6 col-md-4 col-lg-2">
              <span class="fi fi-arab"></span>
              <h4>Arabe</h4>
            </div>
          </div>
        </div>
        <div class="bg-gray-100 w-100 py-vh-2">
          <div class="container ">
            <h2 class="pb-4">Nos Services</h2>

              <div class="row">
                <!-- Cours individuel -->
                <div class="col-md-4">
                  <h4><a href="#cours-individuel">Cours Individuel</a></h4>
                  <p>Les cours se déroulent en Face à Face (uniquement dans les Alpes Maritimes et à Monaco) et/ou en
                    visioconférence et/ou par téléphone</br>
                    Ils sont assurés par un formateur hautement qualifié et diplômé, disposant d'années d'expérience
                    dans
                    l'enseignement. Il propose un programme d'apprentissage sur mesure, totalement adapté aux besoins,
                    au
                    niveau de compétence et aux objectifs linguistiques du stagiaire.</p>
                </div>

                <!-- Cours de groupe -->
                <div class="col-md-4">
                  <h4><a href="#cours-groupe">Cours de Groupe</a></h4>
                  <p>Les cours se déroulent en Face à Face (en intra-entreprise dans les Alpes Maritimes et à Monaco)
                    et/ou en visioconférence et/ou par téléphone</br>
                    Ils sont assurés par un formateur hautement qualifié et diplômé, disposant d'années d'expérience
                    dans
                    l'enseignement. Il propose un programme d'apprentissage sur mesure, totalement adapté aux besoins,
                    au
                    niveau de compétence et aux objectifs linguistiques du stagiaire.
                  </p>
                </div>

                <!-- Elearning -->
                <div class="col-md-4">
                  <h4><a href="#elearning">Elearning</a></h4>
                  <p>Le elearning est en ligne accessible 24h/24 et 7j/7, pendant une période déterminée (de 1 mois à 12
                    mois selon les cas), partout où une connexion Internet est disponible. <br>
                    La méthode est fondée sur des apports théoriques et des mises en pratique permettant à l'apprenant
                    de
                    travailler les 4 compétences de la langue (compréhension orale & écrite, compréhension orale &
                    écrite)
                    puis de les utiliser dans des situations professionnelles et/ou usuelles.
                  </p>
                </div>
              </div>
          </div>
        </div>
        <!-- Certification Section -->
        <div class="w-100 py-vh-2">
          <div class="container">
            <h2 class="pb-4">Nos Certifications</h2>
            <div class="row">
              <div class="col-md-6 text-center">
                <img src="img/lns/toeic.png" alt="TOEIC logo" class="img-fluid certification-img pb-4">
                <p>TOEIC - Tests reconnus à l'international pour évaluer vos compétences linguistiques en anglais.</p>
              </div>
              <div class="col-md-6 text-center">
                <img src="img/lns/bright.png" alt="BRIGHT Language logo" class="img-fluid certification-img pb-4">
                <p>BRIGHT Language - Tests certifiés dans 11 langues pour valider vos compétences professionnelles.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-gray-100 w-100 py-vh-2">
          <div class="container">
            <h2 class="pb-4">Les Étapes de Nos Formations</h2>
            <div class="row">
              <!-- Entretien Individualisé -->
              <div class="col-md-4">
                <h5><a href="#entretien-individualise">Entretien Individualisé</a></h5>
                <p>Nous vous proposons un entretien personnalisé et individualisé pour définir ensemble vos attentes et
                  vos objectifs. <br>
                  Cela nous permettra de vous offrir une formation entièrement adaptée à votre niveau et à vos besoins,
                  en
                  abordant des thématiques professionnelles ou générales préalablement identifiées avant le début de
                  votre
                  formation.
                </p>
              </div>



              <!-- Test de Niveaux -->
              <div class="col-md-4">
                <h5><a href="#test-niveaux">Test de Niveaux</a></h5>
                <p>Avant le démarrage de votre formation vous passez un test de positionnement qui déterminera votre
                  niveau sur l'échelle du Cadre européen commun de référence pour les langues (CECRL), allant du niveau
                  A1
                  à C2. <br>
                  Ceci nous permettra de vous proposer une formation entièrement adapté à votre niveau, e, ajustant le
                  rythme, les outils pédagogiques et le formateur que nous mettrons en place afin de vous garantir
                  l'atteinte de vos objectifs.
                </p>
              </div>

              <!-- Suivi Personnalisé -->
              <div class="col-md-4">
                <h5><a href="#suivi-personnalise">Suivi Personnalisé</a></h5>
                <p>Une équipe pédagogique vous est dédiée tout au long de votre formation afin de vous assurer un suivi
                  optimal. Nous vous proposons un apprentissage spécifique qui vous aidera à progresser efficacement
                  dans
                  un environnement encourageant, interactif et stimulant. <br>
                  Nous sommes à votre écoute tout au long de votre formation et vous proposons un test à mi-parcours
                  pour
                  consolider vos points faibles et renforcer les axes d'amélioration à travailler, ainsi qu'un test
                  final
                  afin d'évaluer les progrès accomplis et l'acquisition des compétences ciblées au démarrage de votre
                  formation.
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="w-100 py-vh-2">
          <div class="container">
            <h2 class="pb-4">Suivi de Satisfaction</h2>
            <p>La satisfaction que nous devons à nos clients et à nos apprenants est une priorité permanente pour
              LANGUAGES & SUCCESS. <br>
              Afin d'être en mesure de poursuivre nos actions d'améliorations, nous vous faisons parvenir deux
              questionnaires : <br>
              Questionnaire à mi-parcours afin d'évaluer votre niveau de satisfaction sur le déroulement de votre
              formation afin de mieux répondre à vos attentes et effectuer des actions correctives si besoin. <br>
              Questionnaire fin de formation afin d'évaluer votre niveau de satisfaction sur nos produits et services
              ainsi que sur la qualité de notre équipe pédagogique. <br>
              Les informations recueillies seront précieuses à notre organisme pour optimiser sa qualité de service.
            </p>
          </div>
        </div>
        </div>

        <div class="bg-gray-100 w-100 py-vh-2">
          <div class="container">
            <h2 class="pb-4">Nos Atouts</h2>
            <div class="row">
              <!-- Planning Flexible -->
              <div class="col-md-6">
                <h5><a href="#planning-flexible">Planning Flexible</a></h5>
                <p>Nous vous proposons un rythme de cours flexible et ajustable, que ce soit en termes d'horaires, de
                  jours, ou de nombres d'heures de cours par semaine, ceci afin de s'adapter totalement à votre emploi
                  du
                  temps. <br>
                  Un planning sera établi au début de la formation et confirmé par un mail envoyé au stagiaire pour
                  approbation.
                </p>
              </div>

              <!-- Accessibilité Handicap -->
              <div class="col-md-6">
                <h5><a href="#accessibilite-handicap">Accessibilité aux Personnes en Situation de Handicap</a></h5>
                <p>Conformément aux principes d'égalité des chances et d'accessibilités pour tous, nous proposons des
                  formations accessibles aux personnes en situation de handicap. Nous reconnaissons l'importance de
                  garantir un environnement inclusif et équitable pour tous ces apprenants, indépendamment de leurs
                  capacités.</br>
                  Nous encourageons les personnes en situation de handicap à prendre contact avec notre référant
                  handicap
                  (Frédérique PETIT - Tel : +33 7.78.87.32.01) ou à nous faire parvenir un mail à l'adresse suivante :
                  lny.cambridge@gmail.com pour discuter de vos besoins particuliers afin de pouvoir collaborer
                  efficacement pour vous offrir une expérience d'apprentissage satisfaisante et répondre aux normes de
                  qualité, ou vous orienter, le cas échéant, vers un acteur prenant en charge votre type de handicap.
                </p>
              </div>
            </div>
          </div>
        </div>

      </main>

      <% include footer %>

  </body>

  </html>