<% include head %>


  <body data-bs-spy="scroll" data-bs-target="#navScroll">

<% include nav %>


    <main>
      <div class="w-100 overflow-hidden bg-gray-100" id="top">
  
<div class="container position-relative">
  <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url(img/lns/earth.png);">
    
  </div>
    <div class="row">

<div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
  <h1 class="display-1 fw-bold mt-5">Start Today</h1>
  <p class="lead">La communication est bien plus qu'un langage, optez pour la méthode L&S, réservez maintenant !</p>
  <a href="#" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Contactez-nous</a>
</div>



</div>
</div>

</div>

<div class="py-vh-5 w-100 border-top overflow-hidden" id="numbers">
  <div class="container">
      <div class="row d-flex justify-content-between align-items-center">
  <div class="col-lg-4">
    <h3 class="py-5 border-top border-dark" data-aos="fade-right">L&S EN QUELQUES CHIFFRES</h3>
</div>
<div class="col-lg-8">
  <div class="row">
    <div class="col-lg-3" data-aos="fade-up">
      <div class="display-6 fw-bold py-4">10 077*</div>
      <p class="text-black-50">Nombre d'heures de formation depuis l'ouverture</p>
    </div>
    <div class="col-lg-2" data-aos="fade-up">
      <div class="display-6 fw-bold py-4">330*</div>
      <p class="text-black-50">Nombre d'apprenants depuis l'ouverture</p>
    </div>
    <div class="col-lg-2" data-aos="fade-up">
      <div class="display-6 fw-bold py-4">330*</div>
      <p class="text-black-50">Nombre d'apprenants depuis l'ouverture</p>
    </div>
    <div class="col-lg-2" data-aos="fade-up">
      <div class="display-6 fw-bold py-4">35*</div>
      <p class="text-black-50">Entreprises nous font confiance depuis l'ouverture</p>
    </div>
    <div class="col-lg-3" data-aos="fade-up">
      <div class="display-6 fw-bold py-4">4,87/5**</div>
      <p class="text-black-50">Note moyenne avis des apprenants pour une formation CPF</p>
    </div>
    <div class="col-12">
      <p class="text-black-50">* Chiffre compris jusqu’au 31/12/2022.<br>
        ** Mesuré systématiquement auprès de la totalité des apprenants ayant noté l’organisme à l’issu de leur formation CPF</p>
      </div>
  </div>
</div>
</div>

  </div>
</div>

<!-- <div class="py-vh-5 w-100 overflow-hidden" id="formations">
  <div class="container">
      <div class="row d-flex justify-content-end">
<div class="col-lg-8" data-aos="fade-down"><h2 class="display-6">Okay, there are three really good reasons for us. There are no more than three, but we think three is a reasonable good number of good stuff.</h2></div>
</div>
<div class="row d-flex align-items-center">
<div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
  <span class="h5 fw-lighter">01.</span>
  <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis corrupti deserunt, dolor.</p>
  <a href="/formations" class="link-fancy">Learn more
  </a>
</div>

<div class="col-md-6 col-lg-4 py-vh-4 pb-0" data-aos="fade-up" data-aos-delay="400">
  <span class="h5 fw-lighter">02.</span>
  <h3 class="py-5 border-top border-dark">We don´t know exactly what we are doing. But thats good because we can´t break something intentionally.</h3>
  <p>Lorem, ipsum dolor sit  adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis corrupti deserunt, dolor.</p>
  <a href="/formations" class="link-fancy">Learn more
  </a>
</div>

<div class="col-md-6 col-lg-4 py-vh-6 pb-0" data-aos="fade-up" data-aos-delay="600">
  <span class="h5 fw-lighter">03.</span>
  <h3 class="py-5 border-top border-dark">There is no real number three reason. So please read again number one and two.</h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis corrupti deserunt, dolor.</p>
  <a href="/formations" class="link-fancy">Learn more
  </a>
</div>
</div>

  </div>
</div> -->

<div class="py-vh-4 bg-gray-100 w-100 overflow-hidden" id="team">
  <div class="container">
      
<div class="row d-flex align-items-center">
  <div class="col-lg-4">
  <div class="row gx-5 d-flex">
    <div class="col-md-12">
      <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center align-self-end" data-aos="fade-right" style="background-image: url(img/lns/group.png);">
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-up" style="background-image: url(img/lns/men.png);">
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-up" style="background-image: url(img/lns/youngwoman.png);">
      </div>
    </div>

  </div>
</div>
<div class="col-lg-8">
  <h3 align="center" class="py-5 border-top border-dark" data-aos="fade-left">Notre équipe de formateurs est composée de professionnels hautement qualifiés et diplômés, passionnés par l'enseignement des langues et engagés à vous offrir une expérience d'apprentissage exceptionnelle.</h3>
  <p align="justify" data-aos="fade-left" data-aos-delay="200">Chacun de nos formateurs possède une expertise reconnue dans leur domaine linguistique respectif et dispose d'années d'expérience dans l'enseignement. Leur passion pour les langues, leur engagement envers l'excellence pédagogique et leur capacité à s'adapter aux besoins spécifiques de chaque apprenant font d'eux des enseignants exceptionnels.<br>
    Chez LANGUAGES & SUCCESS, nous croyons fermement en l'approche individualisée et personnalisée de l'enseignement des langues.<br>
    C'est pourquoi nos formateurs travaillent en étroite collaboration avec chaque apprenant pour proposer des programmes d'apprentissage sur mesure, totalement adaptés à vos besoins, à votre niveau de compétence et à vos objectifs linguistiques.<br>
    Vous aurez l'opportunité de pratiquer la langue, d'acquérir des compétences de communication authentiques et de recevoir un retour immédiat de votre formateur.<br>
    Laissez notre équipe de formateurs qualifiés vous guider dans votre voyage vers la maîtrise d'une nouvelle langue. Que vous soyez débutant ou que vous cherchiez à perfectionner vos compétences existantes, nous sommes là pour vous accompagner à chaque étape.<br>
    Rejoignez-nous aujourd'hui et découvrez l'expérience d'apprentissage exceptionnelle que notre équipe de formateurs peut vous offrir.
  </p>
</div>
</div>

  </div>
</div>

<div class="container py-vh-4 w-100 overflow-hidden">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-5">
  <h3 class="py-5 border-top border-dark" data-aos="fade-right">Notre genèse</h3>
</div>
<div class="col-md-7" data-aos="fade-left">
  <blockquote>
    <div align="justify" class="fs-5 my-3 fw-light pt-4 border-bottom pb-3">“Forte d'une expérience de plus de 20 ans dans le développement commercial
       et la gestion de centres de profits, Frédérique PETIT co-fonde LANGUAGES & SUCCESS en 2020.<br>
       En véritable chef d’orchestre,
        elle définit à la fois les politiques commerciale et marketing,
         ainsi que les objectifs et les grands axes de l’entreprise dans le but permanent
          d’améliorer la qualité des formations et des services proposés. <br>
          Garant de la bonne gestion de l'entreprise, sa passion pour l'innovation, sa détermination à atteindre l'excellence et sa vision à long terme assurent le succès et la qualité de la société.
          ”</div>
    <img src="img/lns/fp.png" width="64" height="64" class="img-fluid rounded-circle me-3" alt="" data-aos="fade">
    <span><span class="fw-bold">Frédérique PETIT,</span>
      Co-Founder de L&S.</span>
  </blockquote>
</div>

  </div>
</div>



<div class="position-relative overflow-hidden w-100 bg-light" id="gallery">
  <div class="container-fluid py-vh-2">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 text-center">
        <h2 class="display-6">Nos références</h2>
      </div>
    </div>
  <div class="row overflow-scroll">
    <div class="col-12">
      <div class="row vw-200 px-0 py-vh-3 d-flex align-items-center scrollx">
        <div class="col-md-1" data-aos="fade-up">
            <img src="img/lns/copymix.png" class="rounded shadow img-fluid"width="300" height="300">
        </div>

        <div class="col-md-1" data-aos="fade-up" data-aos-delay="200">
          <img src="img/lns/efi.png" class="rounded shadow img-fluid" width="300" height="300">
        </div>

        <div class="col-md-1" data-aos="fade-up" data-aos-delay="400">
          <img src="img/lns/frb.png" class="rounded shadow img-fluid" width="300" height="300">
        </div>

        <div class="col-md-1" data-aos="fade-up" data-aos-delay="600">
          <img src="img/lns/innovent.png" class="rounded shadow img-fluid" width="300" height="300">
        </div>

        <div class="col-md-1" data-aos="fade-up" data-aos-delay="800">
          <img src="img/lns/integra.png" class="rounded shadow img-fluid" width="300" height="300">
        </div>
        <div class="col-md-1" data-aos="fade-up" data-aos-delay="800">
          <img src="img/lns/linguatours.png" class="rounded shadow img-fluid" width="300" height="300">
        </div>
        <div class="col-md-1" data-aos="fade-up" data-aos-delay="800">
          <img src="img/lns/mc_distribution.png" class="rounded shadow img-fluid" width="300" height="300">
        </div>
        <div class="col-md-1" data-aos="fade-up" data-aos-delay="800">
          <img src="img/lns/parfum_plus.png" class="rounded shadow img-fluid" width="300" height="300">
        </div>
        <div class="col-md-1" data-aos="fade-up" data-aos-delay="800">
          <img src="img/lns/psgsp.jpg" class="rounded shadow img-fluid" width="300" height="300">
        </div>
        <div class="col-md-1" data-aos="fade-up" data-aos-delay="800">
          <img src="img/lns/sogecore.jpg" class="rounded shadow img-fluid" width="300" height="300">
        </div>
        <div class="col-md-1" data-aos="fade-up" data-aos-delay="800">
          <img src="img/lns/w_property.png" class="rounded shadow img-fluid" width="300" height="300">
        </div>
      </div>
    </div>
   </div>
 </div>

</div>

<div class="bg-light w-100 overflow-hidden" id="testimonials">
  <div class="container py-vh-6">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 text-center">
  <h2 class="display-6">Apprécié par notre Communauté d'Apprenants</h2>
  <p class="lead">Explorez les témoignages inspirants de nos apprenants qui ont surmonté les barrières linguistiques et transformé leur vie grâce à nos formations de haute qualité.</p>
</div>
<div class="col-12 mt-4">
  <div class="row row-cols-1 row-cols-md-2 g-5 d-flex align-items-center">

    <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-right">
      <div class="card p-4 mt-3 border-0">
        <div class="card-body">
          <blockquote class="blockquote">
            <p>"Mes équipes et moi-même travaillons depuis plus de 5 ans avec l’équipe de LANGUAGES & SUCCESS et nous avons toujours autant de plaisir à démarrer de nouvelles sessions de cours chaque année. La qualité de l’enseignement, le sérieux de l’organisation, le professionnalisme, la flexibilité, le dynamisme et la bonne humeur des enseignants (Tom notamment) permettent d’obtenir rapidement des résultats dans la maîtrise de la langue anglaise."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <div>
              <span class="h6 fw-5">MYLÈNE L.</span><br>
              <small class="text-muted">VICE-PRESIDENT PRODUCT & COSMETOVIGILANCE</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4">
      <div class="card p-4 shadow mt-3 border-0" data-aos="fade-down">
        <div class="card-body">
          <blockquote class="blockquote">
            <p>"Je recommande vivement LANGUAGES & SUCCESS c’est un très bon organisme, les professeurs sont très compétents, on progresse très vite, ils sont à notre écoute. La méthode d’apprentissage inédite, a parfaitement correspondu à mes attentes et à mes besoins. Le formateur a assuré un suivi tout au long de la formation qui m’a grandement aidé à assimiler les notions apprises en cours."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="card-text">
              <span class="h6 fw-5">CAROLE B.</span><br>
              <small class="text-muted">R&D PIRS TECHNICAL & ADMINISTRATIVE AGENT</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4">
      <div class="card p-4 mt-3 border-0" data-aos="fade-left">
        <div class="card-body">
          <blockquote class="blockquote">
            <p>"Je tiens à remercier cet organisme qui m’a permis de m’améliorer en anglais grâce à des cours constructifs, interactifs, dispensés par un très bon professeur.
              Le processus est parfaitement élaboré. En effet, avant de démarrer la formation un test de niveau nous est proposé qui permet de connaître notre niveau en langue et ainsi d’adapter les cours à nos attentes. En complément des cours en distanciel, nous avons accès à un extranet qui nous permet de faire des exercices supplémentaires. 
              Tout est bien organisé et explicite. Je recommande à 100%."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="card-text">
              <span class="h6 fw-5">CLAIRE V.</span><br>
              <small class="text-muted">CHARGÉE DE CLIENTÈLE</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4">
      <div class="card p-4 mt-3 border-0" data-aos="fade-right">
        <div class="card-body">
          <blockquote class="blockquote">
            <p>"Le cours est très intéressant, incluant beaucoup d'échanges, d'exercices, et de vocabulaire. En fait, le contenu de la formation répond à mes attentes.
              La prof très compétente donne des conseils utiles.
              Je n’hésiterai pas lors d’une prochaine formation à faire appel à LANGUAGES & SUCCESS."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="card-text">
              <span class="h6 fw-5">AHMED A.</span><br>
              <small class="text-muted">INGÉNIEUR D’ÉTUDES ET DE RECHERCHE</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4">
      <div class="card p-4 mt-3 border-0" data-aos="fade-up">
        <div class="card-body">
          <blockquote class="blockquote">
            <p>"Je suis très reconnaissant à mon professeur et à l’organisme pour le fait que mon niveau de français parlé s'est considérablement amélioré. Les leçons étaient très intéressantes et pertinentes. J'espère reprendre les cours ici dans la nouvelle année."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="card-text">
              <span class="h6 fw-5">ANTONINA S.</span><br>
              <small class="text-muted">INGÉNIEUR LOGICIEL</small>
            </p>
          </div>
        </div>
      </div>
    </div> 

     <div class="col-12 col-lg-6 col-xl-4">
      <div class="card p-4 shadow mt-3 border-0" data-aos="fade-left">
        <div class="card-body">
          <blockquote class="blockquote">
            <p>"Le point fort de cette formation était la collaboration avec mon professeur qui connaissait mes atouts et mes faiblesses. Nous avons ainsi pu travailler sur toutes les difficultés que je rencontrais et cela m’a permis de progresser.
              Je souhaite poursuivre ma formation avec LANGUAGES & SUCCESS."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="card-text">
              <span class="h6 fw-5">ANGELOS K.</span><br>
              <small class="text-muted">INGÉNIEUR DÉVELOPPEUR BACK END</small>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

    </div>
  </div>
</div>

<div class="small py-vh-3 w-100 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 border-end" data-aos="fade-up">
  <div class="d-flex">
    <img src="img/lns/qualiopi.png" class="rounded shadow img-fluid" width="300" height="300">
  </div>
</div>
<div class="col-md-6 col-lg-3 border-end" data-aos="fade-up" data-aos-delay="200">
  <div class="d-flex">
    <img src="img/lns/mcf.png" class="rounded shadow img-fluid" width="300" height="300">

  </div>
</div>

<div class="col-md-6 col-lg-3 border-end" data-aos="fade-up" data-aos-delay="400">
  <div class="d-flex">
    <img src="img/lns/cpf.png" class="rounded shadow img-fluid" width="300" height="300">
  </div>
</div>

<div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
  <div class="d-flex">
    <img src="img/lns/datadock.png" class="rounded shadow img-fluid" width="300" height="300">
  </div>
</div>

    </div>
  </div>
</div>
    </main>

    <% include footer %>

  </body>
</html>
