<% include head %>

  <body data-bs-spy="scroll" data-bs-target="#navScroll">

    <% include nav %>
      <main>

        <div class="container py-vh-4">
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-10">
              <div class="row">
                <div class="col-12 py-vh-4">
                  <h1 class="display-huge fw-bold lh-1" data-aos="fade-down">Règlement Intérieur</h1>
                  <span class="h6 badge text-bg-light" data-aos="fade-down">Version 1.00, Dernière mise à jour : 25 Nov.
                    2023</span>
                  <div class="mt-4 d-flex justify-content-center" data-aos="fade-down" data-aos-delay="200">
                    <svg viewbox="0 0 29 107" xmlns="http://www.w3.org/2000/svg" style="width:30px;"
                      data-aos="fade-down">
                      <path
                        d="M15.425 106.639l13.116-12.42c.55-.446.615-1.23.144-1.751a1.363 1.363 0 0 0-1.993 0l-10.887 10.296V1.242C15.805.556 15.218 0 14.493 0c-.724 0-1.311.556-1.311 1.242v101.522L2.308 92.468a1.363 1.363 0 0 0-1.85-.136 1.197 1.197 0 0 0 0 1.887l13.117 12.42a1.364 1.364 0 0 0 1.85 0z"
                        fill="#000" fill-rule="evenodd"></path>
                    </svg>
                  </div>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <p class="lead">Le présent règlement s’applique à toutes les personnes participantes à une action de
                    formation organisée par LANGUAGES & SUCCESS - L&S. Un exemplaire est remis à chaque stagiaire. Ce
                    règlement décrit les règles d’hygiène et de sécurité, les règles de discipline ainsi que les
                    sanctions et garanties procédurales.</p>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <span class="text-secondary">1.0</span>
                  <h2>Champs du règlement</h2>
                  <p class="lead">Ce règlement est applicable à toutes les actions de formation dispensées par LANGUAGES
                    & SUCCESS - L&S. Les stagiaires doivent se conformer à ce règlement durant toute la durée de la
                    formation.</p>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <span class="text-secondary">2.0</span>
                  <h2>Assiduité du stagiaire en formation</h2>
                  <h3>2.1 Horaires de formation</h3>
                  <p class="lead">Les stagiaires doivent respecter les horaires fixés par l’organisme de formation,
                    faute de quoi des sanctions peuvent être appliquées. Tout accord sur le planning de cours engage le
                    stagiaire à respecter ces horaires.</p>

                  <h3>2.2 Annulation et abandon</h3>
                  <p class="lead">Toute annulation de cours doit être signalée par écrit. Une annulation à moins de 24h
                    pour un cours individuel et à moins de 72h pour un cours collectif entraîne des frais. En cas
                    d’abandon de formation, le coût total est dû, sauf en cas de force majeure.</p>

                  <h3>2.3 Cours collectifs</h3>
                  <p class="lead">En cas d'absence d'un ou plusieurs membres du groupe, le cours est maintenu dès lors
                    qu’un apprenant est présent.</p>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <span class="text-secondary">3.0</span>
                  <h2>Suivi de la formation</h2>
                  <h3>3.1 Type de cours</h3>
                  <p class="lead">Les cours peuvent se dérouler en présentiel ou à distance. Dans chaque cas, le
                    stagiaire s'engage à fournir le matériel nécessaire (connexion internet, ordinateur). Les règles
                    sanitaires sont à respecter pour les formations en présentiel.</p>

                  <h3>3.2 Documents liés à la formation</h3>
                  <p class="lead">Le stagiaire doit remplir les feuilles d’émargement et les documents nécessaires. À
                    l’issue de la formation, une attestation de formation lui est remise.</p>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <span class="text-secondary">4.0</span>
                  <h2>Charge de travail liée à la formation</h2>
                  <p class="lead">Le stagiaire est conscient de l'effort personnel nécessaire pour la réussite de sa
                    formation. Il s’engage à assister aux cours, à réaliser le travail e-learning, et à passer la
                    certification si celle-ci est prévue.</p>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <span class="text-secondary">5.0</span>
                  <h2>Stagiaire en situation de handicap</h2>
                  <p class="lead">LANGUAGES & SUCCESS - L&S s’engage à adapter les formations pour les stagiaires en
                    situation de handicap. Le référent handicap est disponible pour toute demande spécifique.</p>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <span class="text-secondary">6.0</span>
                  <h2>Communication</h2>
                  <p class="lead">L’apprenant accepte d’être cité par LANGUAGES & SUCCESS - L&S dans ses listes de
                    références, notamment sur son site internet.</p>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <span class="text-secondary">7.0</span>
                  <h2>Discipline</h2>
                  <p class="lead">Il est interdit aux stagiaires de tenir des propos déplacés, d’avoir une attitude
                    inadéquate, ou de perturber le déroulement des cours. Les comportements répréhensibles peuvent mener
                    à des sanctions.</p>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <span class="text-secondary">8.0</span>
                  <h2>Entretien préalable à une sanction</h2>
                  <p class="lead">En cas de sanction envisagée, le stagiaire est convoqué à un entretien où il pourra
                    être assisté d’une personne de son choix. Il aura la possibilité de s'expliquer avant que toute
                    sanction définitive ne soit prise.</p>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <span class="text-secondary">9.0</span>
                  <h2>Sanctions</h2>
                  <p class="lead">Les sanctions peuvent inclure un avertissement, un blâme ou une exclusion définitive,
                    en fonction de la gravité de l’infraction.</p>
                </div>
              </div>

              <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
                <div class="col-12 col-lg-12">
                  <span class="text-secondary">10.0</span>
                  <h2>Contact</h2>
                  <p class="lead">Pour toute question relative au règlement intérieur ou aux sanctions, veuillez
                    contacter LANGUAGES & SUCCESS - L&S à l’adresse suivante : lny.cambridge@gmail.com.</p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </main>
      <% include footer %>
  </body>

  </html>