<% include head %>

  <body data-bs-spy="scroll" data-bs-target="#navScroll">

    <% include nav %>
    <main>
      
<div class="container py-vh-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-12 py-vh-4">
          <h1 class="display-huge fw-bold lh-1" data-aos="fade-down">Mentions Legales</h1>
            <span class="h6 badge text-bg-light" data-aos="fade-down">Version 1.00, Dernière mise à jour : 25 Nov. 2023</span>
          <div class="mt-4 d-flex justify-content-center" data-aos="fade-down" data-aos-delay="200">
            <svg viewbox="0 0 29 107" xmlns="http://www.w3.org/2000/svg" style="width:30px;" data-aos="fade-down">
              <path d="M15.425 106.639l13.116-12.42c.55-.446.615-1.23.144-1.751a1.363 1.363 0 0 0-1.993 0l-10.887 10.296V1.242C15.805.556 15.218 0 14.493 0c-.724 0-1.311.556-1.311 1.242v101.522L2.308 92.468a1.363 1.363 0 0 0-1.85-.136 1.197 1.197 0 0 0 0 1.887l13.117 12.42a1.364 1.364 0 0 0 1.85 0z" fill="#000" fill-rule="evenodd"></path>
            </svg>

          </div>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">1.0</span>
              <h2>Responsable</h2>
              <p class="lead">
                LANGUAGES & SUCCESS - L&S<br>
                57, route de Grenoble, BP1052, 06201 NICE CÉDEX 3, France<br>
                +33 (0)7 78 87 32 01<br>
                lny.cambridge@gmail.com<br>
                Numéro de SIRET: 88122664100028</p>
        </div>
      </div>

      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">2.0</span>
              <h2>Hébergement</h2>
              <p class="lead">Ce site est hébergé par Amazon Web Services (AWS).</p>
              <p>Amazon Web Services, Inc.<br>
                410 Terry Avenue North, Seattle, WA 98109-5210, USA<br>
                +1 206-266-4064<br>
                aws.amazon.com</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">3.0</span>
              <h2>Propriété intellectuelle</h2>
              <p class="lead">
                Ce site web et son contenu sont la propriété de Language Success. Tous les droits de propriété intellectuelle sont réservés.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">4.0</span>
              <h2>Protection des données personnelles</h2>
              <p class="lead">Les informations collectées via ce site sont uniquement destinées à Language Success et
                ne seront en aucun cas cédées à des tiers.
                Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée et au Règlement Général
                sur la Protection des Données (RGPD), vous disposez d'un droit d'accès, de modification, de rectification
                et de suppression des données qui vous concernent. Pour exercer ce droit, veuillez nous contacter à l'adresse email mentionnée ci-dessus.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">5.0</span>
              <h2>Liens externes</h2>
              <p class="lead">Language Success n'est pas responsable du contenu des sites externes liés.</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-5 border-top pt-5" data-aos="fade">
        <div class="col-12 col-lg-12">
          <span class="text-secondary">6.0</span>
              <h2>Droit applicable</h2>
              <p class="lead">Les présentes mentions légales sont soumises au droit français.</p>
        </div>
      </div>
    </div>
  </div>
</div>

    </main>
    <% include footer %>
  </body>
</html>
