<% include head %>

    <body data-bs-spy="scroll" data-bs-target="#navScroll">

        <% include nav %>
            <main>
                <div class="py-vh-4 w-100 overflow-hidden" id="services">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                                <h1 align="center" class="display-huge fw-bold border-bottom border-dark py-5" data-aos="fade-down">
                                    Toeic</h1>
                            </div>
                            <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 py-vh-2" data-aos="fade-left">
                                <p align="center" class="lead mb-5 text-center">
                                    Le test TOEIC offre une certification officielle en anglais, reconnue à
                                    l'international, aussi bien dans le cadre professionnel que pour intégrer une
                                    université de renom ou accéder à une formation certifiante.
                                    Les compétences évaluées sont alignées avec les standards du Cadre européen commun
                                    de référence pour les langues (CECRL), couvrant les niveaux A2 à C2.
                                </p>
                                <p>
                                    Nous proposons les tests suivants :
                                </p>
                                <ul>
                                    <li>TOEIC® 4 Skills</li>
                                    <li>TOEIC® Listening and Reading</li>
                                    <li>TOEIC® Reading & Writing</li>
                                </ul>
                            </div>
                        </div>
                    </div>

            </main>
            <% include footer %>
    </body>

    </html>